html,body {
    background-color: rgb(36, 40, 41);
    height: 98%;
    color:bisque;

}

h1 {
  font-size: 1.6;
}


.container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    height: 100%;
    justify-items: center;
    align-items: center;
  }


  
  .title {
    flex: 1 0 100%; 
    height: 30%;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .result {
    display: flex;
    flex: 1 0 100%;
    justify-content: center;
    height: 30%;
    align-items: center;

  }

  .player-weapon {
    flex: 1 0 100%; 
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    
  }
  
  .rock, .paper, .scissors {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    height: 10rem;
    width: 9rem;
    margin: 0.2rem 1rem;
    border-radius: 5%;
    
  
  }

  .opponent {
    display: block;
    text-align: center;
    font-size: 3rem; 
    max-height: 10rem;
    min-height: 10rem;
    max-width: 10rem;
    min-width: 10rem;
    padding: 1rem;
    border-radius: 5%;
    background-color: rgb(209, 24, 24);
    line-height: 10rem;
    overflow: hidden;
    
  }

  .opponent i {
    text-align: center;
  }

  .rock p , .paper p , .scissors p {
    font-size: 1.7rem;
    margin-top: 0.1rem;
  }


  .rock {
    transition: .3s;
    background-color: rgb(17, 129, 15);
  }

  .paper {
    transition: .3s;
    background-color: rgb(44, 177, 177);
  }

  
  .scissors {
    transition: .3s;
    background-color: orange;
  }


  .rock:hover {
    transition: 1s;
    background-color: rgb(13, 96, 12);
  }

  .paper:hover {
    transition: 1s;
    background-color: rgb(36, 149, 149);
  }

  
  .scissors:hover {
    transition: 1s;
    background-color: rgb(184, 120, 1);
  }

